<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.StalkerPDA">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application 
        android:allowBackup="true" 
        android:icon="@mipmap/appicon" 
        android:label="P.D.A." 
        android:roundIcon="@mipmap/appicon_round" 
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
    </application>

</manifest>